/* .ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
} */

.input-group {
  /* margin-bottom: 12px; */
  position: relative;
}

.input__group____user__pass__label {
  display: block;
  font-weight: bold;
  position: absolute;
  color: #051721;
  top: 1px;
  margin-top: -12px;
  margin-left: 8px;
  z-index: 2;
  background-color: #fff;
  font-weight: 500;
}

.input__group__user__pass {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 24px;
}
