.btn__hover {
  background-image: linear-gradient(to right, #3498db, #2ecc71);
  background-size: 200% auto;
  transition: background-position 0.5s;
  cursor: pointer;
}
.btn__hover:hover {
  /* animation: bounce 0.5s ease-in-out infinite;
  background-color: #28a745; 
  transform: translateX(10px);
  cursor: pointer; */
  background-position: right center;
  animation: bounce 0.5s ease-in-out infinite;
}

.img__hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  /* Đảm bảo ảnh vẫn được chứa trong vùng chứa */
  object-fit: contain;
}
.img__hover:hover {
  transform: scale(1.1);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(0);
  }

  20%,
  50% {
    transform: translateX(10px);
  }

  40%,
  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }
}
